body{
    background-color: rgb(47, 45, 45);
    margin: 0;
}
form{
    background-color: rgb(243, 247, 189);
    width:40rem;
    margin:3rem auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    padding-top: 0;
   
}
input{
    height: 1.5rem;
    margin-right: 1rem;
}
p{
    display: inline;
}
input.warning{
 background-color:rgb(210, 78, 78);
}
#update.warning{
   color: rgb(212, 54, 54);
}
.turnr{
    background-color: red;
}
button{
    margin-top:1rem ;
    width :5rem;
    box-sizing: border-box ;
    display: block;
    padding:0.5rem;
    background-color: rgb(241, 213, 102);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(73, 63, 63);
}
